.Card{
    height: 250px;
    background: url(../img/111.jpg) 0px -700px;
    position: relative;
    box-shadow: 1px 1px 3px gray;
    border-radius: 3px;
}

.Card-showInfo{
    width: 300px;
    position: absolute;
    left: 380px;
    top: 30px;
}

.shadow{
    height: 110px;
    width: 110px;
    border-radius: 55px;
    z-index: -10;
    background: rgba(200,200,200,0.5);
    margin: 0 auto;
}
.Card-headImg{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
    top: 5px;
    left: 5px;

}



.shadow:hover {
    background: rgba(250,250,200,0.5);
}

.Card-nameAndIntro{
    color:rgb(240,240,240);
    text-align: center;
}
